/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario */
.form-container {
    background-color: #cdcce2;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.form-title {
    color: #0306af;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.hotel-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-size: 1rem;
    color: #495057;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form-group input:focus {
    border-color: #0306af;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

/* Botón de enviar */
.submit-btn {
    background-color: #0306af;
    color: rgb(166, 171, 209);
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
    background-color: #494bc7;
    transform: scale(1.05);
}

/* Estilo de mensajes de éxito y error */
.success-message {
    background-color: #0306af;
    color: rgb(141, 167, 236);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.error-message {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

